entrypoint = "main.go"
# run = ["go", "run", ".", "recover", "--files", "Test-part1of2.vult, Test-part2of2.vult"]
# run = ["go", "run", ".", "recover", "--files", "honeypot.bak"]
run = "go run *.go server"
modules = ["go-1.21"]

[[ports]]
localPort = 8080
externalPort = 80


[env]
GOPATH = "$REPL_HOME/gopath"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = "CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -o vultisigdecoder main.go server.go"
run = "./vultisigdecoder server"
ignorePorts = false
deploymentTarget = "cloudrun"
